<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.verus.debts">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/money_bag"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.tabs.TabActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.debtAddEdit.DebtAddActivity"
            android:label="@string/activity_debt_add_title"
            android:parentActivityName=".ui.tabs.TabActivity" />

        <activity
            android:name=".ui.DebtEditPagerActivity"
            android:label="@string/activity_debt_add_pager_title"
            android:parentActivityName=".ui.tabs.TabActivity" />

    </application>

</manifest>